body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

header {
    margin: 2em;
    color: white;
}

#main {
    margin: 0em 2em 5em 2em;
}

footer {
    font-size: 90%;
    border-top: 1px solid #A0A0A0;
    background: #F0F0F0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.6em;
}

h1 {
    font-size: 180%;
    font-weight: bold;
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid black;
    color: white;
}


table.info {
    border-collapse: collapse;
    color: white;
}

table.info td {
    text-align: left;
    font-weight: normal;
    padding: 0.45em;
    border: 1px solid #808080;
    color: white;
}

table.info td.label {
    background: black;
    color: white;
}

table.info td.value span {
    font-weight: bold;

}
